[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
python-language-server = {extras = ["all"]}
sphinx = "*"
sphinx-rtd-theme = "*"
pytest-cov = "*"

[packages]
pandas = "*"
numpy = "*"
scipy = "*"
networkx = "*"
pyarrow = "*"
cmocean = "*"
tqdm = "*"
matplotlib = "*"
